
.DS_Store
**/__pycache__/
*.doit.db*

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb

*.bcf

*.xml

*.env*
!.env.example

# Script output directories
**/output/
sphinx/01_quickstart/_build/
